body {
  margin: 0;
  padding: 0;
}
main {
  text-align: center;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: paleturquoise;
}

.box {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  background-color: blueviolet;
  border-radius: 5px;
}

.active{
  background-color: lightblue;
  color: black;
}